
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

em {
    font-weight: 300;
    color: #556;
}



 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
    transition: all 0.75s;
}
body {
    background: #fffdf9;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
    text-align: center;
}
header {
    text-align: center;
    position: sticky;
    top: 0;
    background: #fffdf9;
    padding-bottom: 1em;
}
h1 {
    margin: 0 auto;
    padding: 1rem 3rem 0;
}
h1 img {
    width: 100%;
    max-width: 400px;
}
h2 {
    margin: 0;
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #8298bc;
}
h3 {
    font-size: 2.25rem;
    margin-top: 0.5em;
    color: #ffb532;
}
h4 {
    color: #2f5087;
    margin-top: 0;
    font-size: 1.75rem;
    font-weight: normal;
}
a {
    text-decoration: none;
}
nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav li {
    list-style: none;
    display: inline-block;
}
nav li a {
    display: block;
    font-size: 20px;
    color: #2f5087;
    text-decoration: none;
    width: 100%;
    padding: 1em 1em .5em;
    border-bottom: solid 1px #fffdf9;
}
nav li a:hover {
    color: #8298bc;
    border-bottom: solid 1px #2f5087;
}


#scop_link, #scop_link:visited {
  color: #888;
  border-bottom: dashed 1px #888;
  text-decoration: none;
}
#scop_link:hover {
  color: #2f5087;
  border-bottom: solid 1px #2f5087;
  text-decoration: none;
}

#services h3 {
    margin-bottom: .25em;
}

#formation h4 {
    margin-bottom: .1em;
}

#formation p {
    margin-top: .1em;
}

#formation {
    text-align: left;
}

#formation h3 {
    margin-bottom: .25em;
}

.services-list {
    display: flex;
    justify-content: space-between;
}
.service {
    width: 32%;
    margin-bottom: .5em;
}

.service a {
    color: #ffb532;
    font-size: 1.5em;
    display: block;
    width: 100%;
    padding: 1em .25em;
    text-align: center;
    border: solid 2px #8298bc;
    border-radius: .25em;
    text-decoration: none;
    background: #8298bc;
}
.service a:hover {
    background: #fffefc;
}

.service p {
    display: none;
}

#map iframe {
    width: 100%;
    height: 300px;
    border: 0;
    margin-right: 2em;
}

#coords {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
#coords i {
    font-size: 2em;
    color: #ffb532;
}
#coords div {
    width: 32%;
}

footer {
    text-align: center;
    font-size: smaller;
    padding: 4em 0 2.5em;
    color: #ccc;
}

.satisfaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.satisfaction .legendes {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.satisfaction .legende {
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.satisfaction .categorie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.satisfaction .categorie p {
    display: flex;
    flex: 2;
    justify-content: end;
}

.satisfaction .categorie .notes {
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10px;
}

.satisfaction .categorie .notes .note {
    display: block;
    flex: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.pasDuTout {
    background-color: #FF6D6D;
}

.plutotNon {
    background-color: #FF972F;
}

.plutotOui {
    background-color: #FFFFA6;
}

.toutAFait {
    background-color: #77BC65;
}
