
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

em {
    font-weight: 300;
    color: #556;
}



 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
    transition: all 0.75s;
}
body {
    background: #fffdf9;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    text-align: center;
}
header {
    position: sticky;
    top: 0;
    background: #fffdf9;
}
h1 {
    margin: 0 auto;
    padding: 1rem 3rem 0;
}
h1 img {
    width: 100%;
    max-width: 600px;
}
h2 {
    margin: 0;
    padding: 0 2rem 2rem;
    font-size: 2rem;
    font-weight: 300;
    color: #8298bc;
}
h3 {
    font-size: 1.5rem;
    color: #2f5087;
    margin-top: 2em;
}
h4 {
    color: #ffb532;
    margin-top: 0;
    font-size: 1.75rem;
    font-weight: normal;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav li {
    list-style: none;
    display: inline-block;
}
nav li a {
    display: block;
    color: #2f5087;
    text-decoration: none;
    width: 100%;
    padding: 1em 1em .5em;
}
nav li a:hover {
    color: #8298bc;
    border-bottom: solid 1px #2f5087;
}

section {
    border: 1px 0 1px #ccc;
    padding: 3em 0;
}


#scop_link, #scop_link:visited {
  color: #888;
  border-bottom: dashed 1px #888;
  text-decoration: none;
}
#scop_link:hover {
  color: #2f5087;
  border-bottom: solid 1px #2f5087;
  text-decoration: none;
}

#services h3 {
    margin-bottom: .25em;
}

.services-list {
    display: flex;
    justify-content: space-between;
}
.service {
    width: 32%;
    margin-bottom: .5em;
}

.service a {
    color: #ffb532;
    font-size: 1.5em;
    display: block;
    width: 100%;
    padding: 1em .25em;
    text-align: center;
    border: solid 2px #8298bc;
    border-radius: .25em;
    text-decoration: none;
    background: #8298bc;
}
.service a:hover {
    background: #fffefc;
}

.service p {
    display: none;
}

#map iframe {
    width: 100%;
    height: 300px;
    border: 0;
    margin-right: 2em;
}

#coords {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
#coords i {
    font-size: 2em;
    color: #ffb532;
}
#coords div {
    width: 32%;
}

footer {
    text-align: center;
    font-size: smaller;
    padding: 4em 0;
    color: #ccc;
}

